Flask==2.0.3
jsonpatch==1.32
flask-swagger-ui==3.36.0
ruamel.yaml==0.17.21
flask-unittest==0.1.2
flask-cors==3.0.10
waitress==2.1.1
authlib==0.15.5 # Updating requires changes to implementation. See issue #104
openapi3==1.6.5
parameterized==0.8.1